{% extends "Resource_Library_Register/base.html" %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Purpose</td>
            <td>Name</td>
            <td>Notes</td>
            <td>Link</td>
            <td>
                <a href="{% url 'resource_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></id> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr><td>{{user.Purpose}}</td>
                <td>{{user.Name}}</td>
                <td>{{user.Notes}}</td>
                <td>{{user.Link}}</td>
                            
                <td>
                    <a href="{% url 'resource_update' user.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg">edit</i>
                    </a>
                    <form action="{% url 'resource_delete' user.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                       <button type="submit" class="btn">
                        <i class="fas fa-trash-alt fa-lg text-danger float-right">remove</i>
                    </form>
                  </td>
            </tr>
        {% endfor  %}
    </tbody>
</table>

{% endblock content %}
